<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fitness Timer App</title>
</head>
<body>
<div class="container">
  <h1>Fitness Timer App</h1>
  <div class="ipt">
    <input id="hours" type="number"    [(ngModel)="hours"   min="0" max="12" placeholder="hours">
    <input id="minutes" type="number"  [(ngModel)="minutes" min="0"max="59"  placeholder="minutes">
    <input id="seconds" type="number" [(ngModel)="seconds" min="0" max="59" placeholder="seconds">
  </div>

  <div class="btn">
    <button id="btn-start"  (click)="start_counting()">Start</button>
    <button id="btn-pause"  (click)="pause_counting()">Pause</button>
    <button id="btn-stop"  (click)="stop_counting()">Stop</button>
  </div>

  <p id="currentTime"> Current Time:</p>
</div>
  
</body>
</html>
